{% extends 'base.html' %}
{% block body %}
    <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-4">Мультивендорная поддержка</span>
      </a>

      <ul class="nav nav-pills align-items-center">
        <li class="nav-item"><a href="{% url 'client:profile' %}" class="nav-link">Компания</a></li>
        <li class="nav-item"><a href="{% url 'client:application' %}" class="nav-link">Заявки</a></li>
        <li class="nav-item ms-5 ">{{ username }}</li>
      </ul>
    </header>
  </div>
    <div class="m-5 mt-2 mb-0">
    {% block client_body %}
    {% endblock %}
    </div>
{% endblock %}